<% include ../partials/header %>

<div class="main ui text container">
    <h1>Edit <%= item.name %></h1>
    <div class="troll">
        <form class="ui form" action="/items/<%= item._id %>/edit?_method=PUT" method="POST">
            <div class="field">
                <input autocomplete="off" type="text" name="name" placeholder="item name" value="<%= item.name %>" required>
            </div>
            <div class="field">
                <input autocomplete="off" type="number" name="total" placeholder="total amount" value="<%= item.total.toString() %>" min="0" required>
            </div>
            <button class="ui blue submit button">Edit</button>
        </form>
        <br/>
        <button class="troll__button ui red button" onclick="areYouSureDeleteDialog()">Delete</button>
    </div>
    <div>
        <a href="/items/<%= item._id %>">Back to <%= item.name %></a>
    </div>

    <div id="areYouSureDelete" class="ui modal">
        <div class="header">Delete</div>
        <div class="content">
            <div class="description">Are you sure you want to DELETE this item?</div>
        </div>
        <div class="actions">
            <div class="ui right aligned grid">
                <div class="right floated right aligned two wide column">
                    <form class="ui form" action="/items/<%= item._id %>?_method=DELETE" method="POST">
                        <div class="inline field">
                            <button class="ui green button">OK</button>
                        </div>
                    </form>
                </div>
                <div class="left aligned three wide column">
                    <button class="ui red button" onclick="closeDeleteDialog()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>