<% include ../partials/header %>

<div class="main ui text container">
    <div class="new-item">
        <h1>Add new Item</h1>
        <form class="ui form" action="/items/new" method="POST">
            <div class="field">
                <input autocomplete="off" type="text" name="name" placeholder="item name">
            </div>
            <div class="field">
                <input autocomplete="off" type="number" name="total" placeholder="total amount" min="1">
            </div>
            <button class="ui teal submit button">Add</button>
        </form>
        <br/>
        <form id="joinForm" class="ui form" action="/items/join" method="POST">
            <h1>Join an Item</h1>
            <div class="two fields">
                <input autocomplete="off" type="text" name="itemLink" placeholder="link of item">
                <span>&nbsp</span>
                <button class="ui violet button">Join</button>
            </div>
        </form>
    </div>
</div>
<div class="ui container">
    <h1>Your Inventory</h1>
    <div class="ui cards">
        <% user.items.forEach(function(item) { %>
            <a href="/items/<%= item._id %>" class="card">
                <div class="content">
                    <div class="header"><%= item.name %></div>
                    <div class="meta">Created by <%= item.creator %></div>
                    <div class="description">
                        <p>used: <%= item.amount %></p>
                        <p>left: <%= item.total %></p>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>